{% extends "cookbook_app/base.html" %}

{% block content %}

    <br>
    <div class="container-fluid p-3 bg-white card shadow" id="log">
        <div class="login-form">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success {{ message.tags }} mt-4"
                 role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <form action="" method="POST" autocomplete="off">

                {% csrf_token %}
                <h4> Login </h4>
                <div class="">
                    <label for="username"> Username <br>
                        <input type="text" name="username" required>
                    </label>
                </div>
                <div class="">
                    <label for="password"> Password <br>
                        <input type="password" name="password" required>
                    </label>
                </div>
                <br>
                <input type="submit" value="Login"/>
            </form>
            <p><a href="{% url 'register' %}"> Register </a></p>
        </div>
    </div>

{% endblock %}