{% extends "cookbook_app/base.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}

    <br>
    <div class="container-fluid card p-3 shadow-lg mx-auto">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <h4>Add a New Recipe</h4>
            <hr>
            <div class="form-group mb-auto">
                <label for="exampleInputEmail1"> Recipe Name <br>
                    <input name="name" type="text" required>
                </label>
            </div>
            <br>
            <div class="form-group mb-auto">
                <label for="exampleInputPassword1"> Description <br>
                    <textarea name="description" id="text" rows="8"></textarea>
                </label>
            </div>
            <br>
            <button type="submit" class="mb-auto container-fluid">Add</button>
            <br>
        </form>
    </div>
    <br>
    <hr>
    <div class="container-fluid card p-3 shadow-lg mx-auto">
        <table class="table mt-6">
            <thead>
            <tr>
                <th scope="col">ID </th>
                <th scope="col">Recipe Name </th>
                <th scope="col">Description </th>
                <th scope="col">Actions </th>
            </tr>
            </thead>

            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td> {{ recipe.name }}</td>
                        <td> {{ recipe.description }}</td>
                        <td>
                            <a href="/update_recipe/{{ recipe.id }}"> Edit</a>
                            <a href="/delete_recipe/{{ recipe.id }}"> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
{% endblock %}
