{% extends "cookbook_app/base.html" %}

{% block content %}

    <br>
    <div class="container-fluid p-3 bg-white card shadow" id="log">
        <div class="login-form">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success {{ message.tags }}" role="alert">
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST" autocomplete="off">

                {% csrf_token %}
                <h4> Register </h4>

                <div>
                    <label for="username"> New Username <br>
                        <input type="text" name="username" required>
                    </label>
                </div>
                <div class="">
                    <label for="email"> New Email <br>
                        <input type="email" name="email" required>
                    </label>
                </div>
                <div class="">
                    <label for="password1"> New Password <br>
                        <input type="password" name="password1" required>
                    </label>
                </div>
                <div class="">
                    <label for="password2"> Confirm Password <br>
                        <input type="password" name="password2" required>
                    </label>
                </div>

                <input type="submit" value="Register"/>
            </form>

            <p><a href="{% url 'login' %}"> Login </a></p>
        </div>
    </div>

{% endblock %}